
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="block">
        <b>Введите номер карты</b>
        <input type="text" size="40">
        @Html.ActionLink("Оплатить", "Payed", "Cart")
    </div>
</body>
</html>