@model IEnumerable<WebShoping.Models.Product>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <script src="~/js/MenuItems.js"></script>
</head>
<body>
    <div class="block">
        Добро пожалость в наш интернет магазин
        <table>
            <tr>
                <td>Название</td>
                <td>Цена</td>
                <td>Фото</td>
            </tr>
            @foreach (var Product in Model)
            {
    <tr>
        <td>@Product.NameProduct</td>
        <td>@Product.Price</td>
        <td>
            @if (Product.PhotoProduct != null)
            {
    <img style='width:200px; height:400px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Product.PhotoProduct))" />}
        </td>

        <td>@Html.ActionLink("Добавить товар в корзину", "AddProductToCart", "Cart", new { Id = Product.Id })</td>
    </tr>
}
        </table>
    </div>
</body>
</html>