@model WebShoping.Models.Product

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="block">
        тута админка
        Добавить товар
        @{
            ViewBag.Title = "Добавление товара";
        }
        <fieldset>
            <form asp-action="Create" asp-controller="Moder" method="post" enctype="multipart/form-data">
                <p>
                    <label>Имя</label>
                    <input name="NameProduct" class="form-control" />
                </p>
                <p>
                    <label>Аватар</label>
                    <input name="PhotoProduct" type="file" class="form-control" />
                </p>
                <p>
                    <label>Цена</label>
                    <input name="PriceProduct" class="form-control" />
                </p>
                <p>
                    <label>Колличество</label>
                    <input name="CountProduct" class="form-control" />
                </p>
                <p>
                    <label>Категория</label>
                    <input name="CategoriesId" class="form-control" />
                </p>
                @*<p>
                    Категория товара
                    @Html.DropDownListFor(m => m.CategoriesId, ViewBag.Categories as SelectList)
                </p>*@

                <p>
                    <input type="submit" value="Добавить" />
                </p>
            </form>
</fieldset>
    </div>
</body>
</html>