@model IEnumerable<WebShoping.Models.User>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="block">
        тута админка
        админы
        <br />
        @Html.ActionLink("Добавить пользователя", "AddModer", "Admin")
        <br />
        @Html.ActionLink("Модераторы", "ListModers", "Admin")
        <br />
        @Html.ActionLink("Список пользователей", "ListUsers", "Admin")
        <br />

    </div>
</body>
</html>