body {
    background-color: white;
}

.block {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20pt;
}

.general {
    background-color: white;
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    font-size: 15pt;
}

.footer {
    position: absolute;
    border-spacing: 0px;
    bottom: 0;
    width: 99%;
    background-color: gray;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

ul.menu-item {
    margin: 0;
    padding: 4px;
    background-color: cornflowerblue;
    color: white;
    font-size: 20pt;
}

    ul.menu-item li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 80px;
        padding: 3px;
    }

a {
    color: black;
    text-decoration: none;
}

    a:visited {
        color: black;
    }

    a:active {
        color: black;
    }

    a:hover {
        color: grey;
    }

table {
    width: 80%;
    text-align: center;
    border-bottom: 2px solid #dfdfdf;
    border-radius: 6px;
    border-collapse: separate;
    border-spacing: 0px;
}

    table thead tr {
        color: #ffffff;
        font-weight: bold;
        background: #c83240;
    }

    table tr td {
        border-right: 1px solid #dfdfdf;
    }

        table tr td:last-child {
            border-right: 0px;
        }

    table tbody tr:nth-child(1n) {
        background: #f6f6f6;
    }

    table tbody tr:nth-child(2n) {
        background: #e6e6e6;
    }

    table tbody tr:hover {
        background: #ffe8e8;
        transition-duration: 0.6s;
    }



.dropbtn {
    background-color: cornflowerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

   

#myInput {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInput:focus {
        outline: 3px solid #ddd;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}